* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
}

#app {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imageGallery {
  height: 55%;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageGallery img {
  height: 60%;
  width: 30%;
  object-fit: cover;
}

.imageShow {
  height: 70%;
  width: 60%;
  background: red;
}

.imageShow img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}